<header class="header">
  <nav class="navbar">
    <div class="navbar-logo" [routerLink]="'/'">lOgOo</div>
    <ul class="navbar-menu" [ngClass]="{ 'is-open': menuOpen }">
      <li *ngFor="let menuItem of HeaderMenuItems">
        <a [routerLink]="[menuItem.path]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: menuItem.path === '/' ? true : false }">
          {{menuItem.title}}
        </a>
      </li>
    </ul>
    <div class="nav-right">
      <div class="navbar-toggle" (click)="toggleMenu()">
        <app-icon [iconType]="!menuOpen ? IconType.BARS : IconType.CLOSE" />
      </div>
      <app-cart-overview />
    </div>

  </nav>
</header>