@import "../../../../styles/variables";
@import "../../../../styles/colors";
.select-input {
  cursor: pointer;
  margin-left: $spacing-1;
  padding: $spacing-2 $spacing-3;
  border-radius: $border-radius-4;
  border-color: $gray-3;
  color: $gray-7;
}
