<div class="product-details-container" *ngIf="product$ | async as product">
    <div class="product-details-content">
        <div class="back-to">
            <app-icon class="back-icon" (click)="backTo()" [iconType]="IconType.LEFT_ARROW" />
        </div>
        <div class="row">
            <div class="col-6">
                <div class="product-image">
                    <img src="{{ product.images[0] }}" alt="Product Image">
                </div>
            </div>
            <div class="col-6">
                <div class="product-info">
                    <div>
                        <h2 class="product-name">{{product.title}}</h2>
                        <p class="product-brand">Brand: {{product.brand}}</p>
                        <p class="product-category text-secondary">Category: {{product.category}}</p>
                        <p class="product-stock text-secondary">In stock {{product.stock}}</p>
                        <p class="product-description">
                            {{product.description}}
                        </p>
                        <p class="product-rating">
                            <app-icon class="product-rating-icon" (click)="backTo()" [iconType]="IconType.STAR" />
                            {{product.rating}}
                        </p>
                    </div>

                    <div>
                        <p class="product-price">${{product.price}}</p>
                        <app-button label="Add to cart" type='primary' size='large'
                            (buttonClick)="onAddToCart(product)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>