$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

@mixin media-min-width-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin media-min-width-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin media-min-width-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin media-min-width-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin media-min-width-xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}
