<section class="products">
  <app-search-input (search)="onSearch($event)" />
  <div class="products-header">
    <h1>Products overview</h1>
    <div class="sort-by">
      <span class="text-secondary">Sort by</span>
      <app-select-input
        [options]="sortOptions"
        [defaultOptionLabel]="'Most relevant'"
        [fieldName]="sortBy"
        (select)="onSelect($event)"
      />
    </div>
  </div>
  <div class="row">
    <ng-container
      *ngIf="(products$ | async)?.products as products; else loading"
    >
      <div class="col-2" *ngFor="let product of products | sort : sortBy">
        <app-product-card [product]="product"></app-product-card>
      </div>
      <app-empty *ngIf="products.length === 0" />
    </ng-container>
    <ng-template #loading>
      <div class="col-2" *ngFor="let product of fakeProducts">
        <app-skeleton-card />
      </div>
    </ng-template>
  </div>
</section>
