@import "../../../../styles/variables";
@import "../../../../styles/colors";
@import "../../../../styles/mixin";

.hero-section {
  height: $hero-banner-height;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  color: $text-white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    max-width: 800px;
    h1 {
      font-size: $font-size-8;
      margin-bottom: $spacing-5;
    }

    p {
      margin-bottom: $spacing-8;
    }
  }
  .hero-image {
    display: none;
    align-items: center;
    img {
      height: 330px;
    }
  }
  @include media-min-width-lg {
    .hero-content {
      h1 {
        font-size: $font-size-10;
      }
    }
    .hero-image {
      display: flex;
    }
  }
}
